*.your-large-file-extension filter=lfs diff=lfs merge=lfs -text
*.large-file-extension filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.ext filter=lfs diff=lfs merge=lfs -text
.songs filter=lfs diff=lfs merge=lfs -text
*songs filter=lfs diff=lfs merge=lfs -text
